.row {
  min-height: 76px;
  border-bottom: 0.5px solid var(--clr-primary);
  padding-block: 20px;
  font-size: var(--fs-400);
  position: relative;
}

@media (min-width: 550px) {
  .row {
    display: flex;
  }
}
