@import "./_variables.css";

body {
  font-size: var(--fs-300);
  font-family: var(--ff-primary);
  color: var(--clr-primary);
  min-width: 100vw;
  min-height: 100vh;
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */

}

.wrapper {
  max-width: 630px;
  width: 100%;
  margin: 0 auto;
}

.wrapper--form {
  padding: 80px;
  margin-bottom: 20px;
  border: 1px solid var(--clr-primary);
}

input,
textarea,
label,
button {
  cursor: pointer;
}

button {
  border: 0;
  font-family: var(--ff-secondary);
}
