.sliderContainer {
  width: 190px;
  height: 22px;
  display: flex;
  justify-content: space-between;
   margin-top: calc(var(--size-300)*2.5);
  margin-left: auto;
}

@media (min-width: 550px) {
  .sliderContainer {
    width: 250px;
    margin-top: 0;
    margin-left: 0;
  }
}

.sliderArrow {
  cursor: pointer;
}

.sliderCells {
  display: flex;
  justify-content: center;
  font-family: var(--ff-secondary);
  align-items: center;
  font-size: var(--fs-300);
}

