.sliderContainer {
  width: 190px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

@media (min-width: 550px) {
  .sliderContainer {
    width: 250px;
  }
}

.sliderArrow {
  cursor: pointer;
}

.sliderCells {
  display: flex;
  justify-content: center;
  font-family: var(--ff-secondary);
  align-items: center;
  font-size: var(--fs-300);
}
