.label {
  font-family: var(--ff-secondary);
  display: block;
  width: fit-content;
  padding: 10px 20px;
  background-color: var(--clr-background);
}

.checkbox {
  display: none;
}

.checkboxStyle {
  transition-duration: 320ms;
  text-align: center;
  font-size: var(--fs-300);
}
